@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" />


@section Scripts {
    @* Importing libraries through CDN's for ease of use *@
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/index.js" defer></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Press the button to see all students with their averages</h3>

    <button id="getStudentData">Get Data</button>

    <div class="data-div" id="dataDiv">

        <canvas id="gradesChart" width="600" height="400"></canvas>

        <button id="exportData">Export Student Data</button>

        <section class="data-section-display">
 
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Average Grade</th>
                    </tr>
                </thead>
                <tbody id="tableData">
                    
                </tbody>
            </table>

        </section>
    </div>
</div>
