@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" />


@section Scripts {
    @* Importing libraries through CDN's for ease of use *@
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <!-- JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 
    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/25.2.4/css/dx.light.css">
 
    <!-- DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/25.2.4/js/dx.all.js"></script>

    <!-- DevExtreme libraries to export files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/devextreme-exceljs-fork@4.4.1/dist/dx-exceljs-fork.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>

    @* This is the script used on this page for the buttons and API calls, found in wwwroot/js/index.js *@
    <script src="~/js/index.js" defer></script>
}

@* This is the only view used in the project *@
<div class="text-center dx-viewport">
    <h1 class="display-4">Welcome</h1>

    <h3>Data Entry</h3>

    <div id="numberBoxContainer"></div>

    <div id="textBoxContainer"></div>

    <div id="selectBoxContainer"></div>

    <h3>Press the button to see course and student data</h3>

    <div id="buttonContainer"></div>

    @* Conditional display of course/student data only after button is pressed *@

    <div class="data-div" id="dataDiv">

        <hr />

        <h2>Course Averages</h2>
        
        <div id="chartContainer"></div>

        <hr />

        <h2>Student Grades</h2>

        <div id="studentDataDiv"></div>
    </div>
</div>
