.table {
  display: none;
  border: 1px solid black;
}

.data-div {
  display: none;
}

.data-section-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.export-button {
  margin-bottom: 15px;
}

.data-entry {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.data-entry-fields {
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px;
  gap: 20px;
}
