.table {
    display: none;
    border: 1px solid black;
}

.data-div {
    display: none;
}

.data-section-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.export-button {
    margin-bottom: 15px;
}